.Header{
  border: 1.5px solid black;
  padding: 10px;
  margin: 3px;
}
#main-head{
  text-transform: uppercase;
  font-size: larger;
  color: red;
  font-weight:bold;
}
#sub{
  font-size: smaller;
  font-style: italic;
  font-weight:bold
}