.Header {
  display: flex;
}
.header-left {
  width: 85%;
  border: 1.5px solid black;
  padding: 10px;
  margin: 3px;
  margin-right: 0px;
  float: left;
}
.header-right {
  width: 15%;
  border: 1.5px solid black;
  margin-top: 3px;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-left: none;
}

#main-head {
  text-transform: uppercase;
  font-size: larger;
  color: red;
  font-weight: bold;
}

#sub {
  font-size: smaller;
  font-style: italic;
  font-weight: bold;
}
#bell {
  float: right;
}

.contact {
  height: 40px;
  width: 10rem;
  float: right;
  padding-left: 1em;
  padding-right: 0em;
}
.menu {
  width: 4%;
  height: 480px;
  float: left;
}

.menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  height: 80px;
  padding-top: 50%;
}

.menu a:hover {
  background-color: #ccc;
}

.menu a.active {
  background-color: darkgreen;
  color: white;
}

.tdi-digits {
  font-size: x-large;
  font-weight: bold;
}
.main {
  display: flex;
  justify-content: space-around;
  background-color: rgb(234, 248, 248);
  height: 550px;
  width: 96%;
  overflow: scroll;
  margin-left: auto;
}
.main-left {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 60%;
  border-radius: 20px;
}
.main-right {
  height: 600px;
  width: 20%;
  margin-top: 30px;
}
.image {
  width: 100%;
  height: 100%;
}
.main-left-top {
  display: flex;
  height: 160px;
  border-radius: 15px;
  color: white;
  margin: 10px;
  padding: 10px;
  background-image: url(../src/images/img-banner.png);
  align-items: flex-start;
}
.mltone {
  padding: 6px 10px 2px 10px;
  width: 30%;
}
.mlttwo {
  padding: 6px 10px 2px 10px;
  width: 30%;
}
.mltthree {
  word-wrap: break-word;
  width: 32%;
}
#mltthree-text {
  padding-top: 7px;
}
.vertical {
  border-left: 2px solid black;
  height: 120px;
  left: 26%;
  margin-top: 1.5%;
  padding-right: 20px;
}

.main-left-bottom {
  display: flex;
  height: 450px;
  justify-content: space-around;
}
.main-left-bottom-left {
  height: 460px;
  width: 47%;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(255, 200, 255);
  font-family: Roboto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-left-bottom-right {
  height: 460px;
  width: 47%;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(255, 200, 255);
  font-family: Roboto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}
.inner-head {
  display: flex;
  justify-content: space-around;
  padding-top: 0px;
  height: 5px;
}
.inner-one {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  line-height: 0.9;
}
.inner-two {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 90px;
}
.intRate {
  font-weight: 700;
}

.dropdown {
  height: 40px;
  width: 10rem;
  padding-right: 4em;
  padding-left: 0em;
}

#alice {
  font-size: larger;
  vertical-align: middle;
  padding-left: 2em;
  padding-right: 0.1em;
  padding-top: 0.25em;
}
.inner-opt-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.debit-card-main {
  width: 100%;
  background-color: #fff;
  height: 110px;
  display: flex;
}
.hover-text-left {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hover-text-right {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: small;
}

.livechat {
  position: fixed;
  left: 1187px;
  top: 476px;
}
.head{
  font-weight: 600;
}